{% extends 'base.html' %}

{% block navbar %}

	<div class="container">

		<div class="row m-4 p-4">
			
			<div class="btn-group mr-5">
				
				<button class="btn btn-secondary">

					<a href="{% url 'desktop_list' %}" class="text-white"> Desktop </a>

				</button>

				<button class="btn btn-primary">

					<a href="{% url 'add_desktop' %}" class="text-white"> + </a>

				</button>

			</div>

			<div class="btn-group">
				
				<button class="btn btn-secondary">

					<a href="{% url 'laptop_list' %}" class="text-white"> Laptop </a>

				</button>

				<button class="btn btn-primary">

					<a href="{% url 'add_laptop' %}" class="text-white"> + </a>

				</button>

			</div>

		</div>

	</div>

{% endblock %}

{% block content %}

	{% if devices %}

	<div class="container">

		<table class="table table-striped">
			
			<thead>
				
				<tr>
					
					<th> No </th>

					<th> Name </th>

					<th> Price </th>

					<th> Issue# </th>

					<th> Status </th>

					<th> Delete? </th>

				</tr>
				
			</thead>

			<tbody>

				{% for device in devices %}
				
				<tr>
					
					<td> {{ forloop.counter }} </td>

					{% if tag == "laptop" %}
						
						<td>
							
							<a href=" {% url 'update_laptop' pk=device.pk %} "> {{ device.name }} </a> 

						</td>

						{% elif tag == 'desktop' %}

						<td>
							
							<a href=" {% url 'update_desktop' pk=device.pk %} "> {{ device.name }} </a> 

						</td>


						{% endif %}
					
					<td> {{ device.price }} </td>
					
					<td> {{ device.issue }} </td>
					
					<td> {{ device.status }} </td>

					<td> 

						{% if tag == "laptop" %}

							<a href=" {% url 'delete_laptop' pk=device.pk %} "> Delete </a> 

						{% elif tag == 'desktop' %}

							<a href=" {% url 'delete_desktop' pk=device.pk %} "> Delete </a> 

						{% endif %}

					</td>

				</tr>

				{% endfor %}

			</tbody>

		</table>

	</div>


	{% else %}

		There is no device

	{% endif %}


{% endblock %}

