{% extends 'crud_app/index.html' %}

{% block content %}

	

	<div class="container">
		
		<div class="row offset-md-4">
			
			<div class="col col-md-6">

				{% if form.instance.pk %}

				<h4 class="text-muted">Update {{ form.instance }}</h4>

				{% else %}

				<h4 class="text-muted">Add {{ tag }}</h4>

				{% endif %}

				<form action="" method="POST">

					{% csrf_token %}

				 	{{form}}

				 	{% if form.instance.pk %}

				 	<input type="submit" class="btn btn-success btn-block" value="Update">

					{% else %}

				 	<input type="submit" class="btn btn-success btn-block" value="Save">

					{% endif %}

			 	</form>

			</div>

		</div>

	</div>

	

{% endblock %}

{% block javascript %}

 <script>
 	
 	$(document).ready(function(){
 		$("#id_status").addClass("form-control mb-4");
 	})

 </script>

{% endblock %}