{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {%endblock%}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

  {% block css %}
  {% endblock %}

</head>
<body>

  {% block navbar %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <script type="text/javascript" src="{% static 'js/JQuery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

  {% block javascript %}
  {% endblock %}

</body>
</html>